*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#winner{
    text-align: center;
    color: green;
    font-size: 45px;
}
#members{
    /* border: 1px solid black; */
    width: 50%;
    height: 180px;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#member-1,#member-2,#member-3{
    /* border: 1px solid red; */
    background-color: rgba(128, 128, 128, 0.253);
    width: 90%;
    height: 150px;
    margin-left: 15px;
    border-radius: 10%;
    display: flex;
     align-items: center;
     justify-content: center;
     font-size: 85px;
     font-weight: bold;           
}
.box1{
    /* border: 1px solid coral; */
    width: 30%;
    height: 130px;
    margin-left: 2%;
    text-align: center;

}
h2{
    color: #aa0087;
    font-size: 25px;
    
}
#roll{

    background-color: #ff6600;
    border: 0;
    margin-top: 80px;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 43%;
    font-size: 24px;
}